<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Attached is the downtime form for VDN: <%= @dt_cr.vdn %><br/>
  </body>
</html>