<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Downtime Form</h1>
    <h2>
      Z Number: <%= z_number(@dt_cr.id) %><br/>
      VDN: <%= @dt_cr.vdn %>
    </h2>
  </body>
</html>