<ul class="nav navbar-fixed-top">
  <li>
    <%= link_to "Knowledgebase", root_path, :class => 'brand' %>
  </li>
</ul>

<div class='nav_item'>
  <%= link_to 'New Article', new_article_path, class: 'btn btn-success btn-small' %>
</div>